*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  display: grid;
  height: 600px;
  border: 3px solid red;


  grid-template-columns: 150px 150px 150px;
  /* column-gap: 5px; */

  grid-template-rows: 150px 150px 150;
 /*  row-gap: 5px; */
  
  gap: 5px;
  
  /* justify-content: center;
  align-content: center; */

  
  /*  justify - horizontal. 
      align = vertical      */

  justify-items: center;
  align-items: center;

}

.box {
  background-color: blueviolet;
  border: 2px solid blue;
  color: white;

}

.container :nth-child(3) {
  background-color: red;
  justify-self: center;
  align-self: center;
  transition: all 0.5s ease;
}

.container :nth-child(3):hover {
  background-color: black;
/*   justify-self: flex-end;
  align-self: flex-end; */
  border-radius: 50%;
  padding: 20%;
  cursor: pointer;
}


/* 
.box-5 {
  background-color: red;
  transition: all .4s ease;
}
.box-5:hover{
  background-color: black;
  padding: 20%;
} */







/*
#cabecalho{
  background-color: #130e0e;
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  h1{
    color: #fff;
  }

  .link{
    display: inline;
    margin-left: 20px;
    a{
      color: #fff;
      text-decoration: none;
      display: inline-block;
      padding: 20px;
      border-radius: 5px;
      background-color: #164756;
      transition: all 0.4s ease-in-out;

      &:hover{
        background-color: #51727c;
      }

    }
  }

}

 #cabecalho{
  background-color: #130e0e;
  height: 100px;
  position: relative;
  padding: 20px;

  Aninhamento de seletores 
  h1{
    color: #fff;
    float: left;
    position: absolute;
    top:30%;
  }

  nav{
    float: right;
    position: absolute;
    top:25%;
    right: 5%;
  }

  .link{
    display: inline;
    margin-left: 20px;
    a{
      color: #fff;
      text-decoration: none;
      display: inline-block;
      padding: 20px;
      border-radius: 5px;
      background-color: #164756;
      transition: all 0.4s ease-in-out;

      &:hover{
        background-color: #51727c;
      }

    }
    
  } 
} */
