*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: grid;
  height: 100vh;
  border: 3px solid #0000ff;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows:  repeat(4,1fr);
  gap: 5px;
  grid-template-areas:
    'header header header header'
    'help-2 help-2 login login'
    'about about login login'
    'footer footer footer footer'
  ;
}

.cabecalho{
  grid-area: header;
}

.entrar{
  grid-area: login;
}

.sobre{
  grid-area: about;
}

.ajuda2{
  grid-area: help-2;
}

.rodape{
  grid-area: footer;
}

.box{
background-color: #8a2be2;
border: 2px solid #0000ff;
color: #fff;
text-align: center;
}

@media (orientation:portrait) {
  
  .container{
    
    grid-template-rows:  repeat(5,1fr);
    grid-template-areas:
      'header header header header'
      'login login login login'
      'help-2 help-2 help-2 help-2 '
      'about about about about'
      'footer footer footer footer'
    ;
  }
}

/* .container :nth-child(1){
grid-column: span 4;
grid-row: span 1;
}

.container :nth-child(2){
grid-column: span 2;
grid-row: span 2;
}
.container :nth-child(3){
grid-column: span 2;
grid-row: span 4;
}

.container :nth-child(4){
grid-column: span 2;
grid-row: span 2;
}

.container :nth-child(5){
grid-column: span 4;
grid-row: span 1;
}

@media screen and (max-width:375px){

.container :nth-child(1){
  background-color: #ff0000;
}}


@media screen and (max-width:414px){
.container :nth-child(n+1) {
  grid-column: span 4;
  grid-row: span 1;
}

.container :nth-child(1) {
  background-color: #ff0000;
}

.container :nth-child(2) {
  background-color: #00ff00;
}}

 */
